nav {
    background-color: #eee;
    font-size: 1.2rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 0;
}


 span {
    color: rgb(48, 142, 210) ;
}

.user {
    margin-left: 550px;
}



.menu li {
    flex-basis: 100%;
    justify-content: flex-start;
   
}

.menu a {
    display: inline-block;
    padding: 0.5em;
    margin-right: 1em;
}

.nav-items-selected a {
    color: blue;
}

.dropdown-content {
    display: none;
    /* position: absolute; */
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content a {
    text-decoration: none;
    color: black;
    padding: 12px 16px;
    display: block;
  }

.show {
    display: block;
}

@media ( min-width: 600px ) {
    .menu li {
        flex-basis: auto;
    }
}