.teams-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: ; */
}

.teams {
    width: 350px;
    height: 500px;
    border: 2px solid black;
    /* margin: 2px; */
    border-radius: 3px;
    
    
}
.team-heading {
    font-size: 1.4em;
    color: black;
}

h3 {
    color: grey;
}

.teams {
    padding: 10px;
}



p span {
    font-weight: 900;
}

p {
    font-weight: 600;
}



button {
    font-weight: bold;
    color: white;
}

.set-icon{
  position: relative;
  font-size: 1.5em;
  top: 50%;
  left:50%;

}



.sub-heading {
    color: black;
}

@media ( min-width: 1000px ) {
    .teams {
        height: 410px;
    }
}